**/AppsFlyerTracker filter=lfs diff=lfs merge=lfs -text
**/Apptentive filter=lfs diff=lfs merge=lfs -text
**/ApptentiveDebugging filter=lfs diff=lfs merge=lfs -text
**/Dwifft filter=lfs diff=lfs merge=lfs -text
**/KIF filter=lfs diff=lfs merge=lfs -text
**/Mantle filter=lfs diff=lfs merge=lfs -text
**/Mixpanel filter=lfs diff=lfs merge=lfs -text
**/OCMock filter=lfs diff=lfs merge=lfs -text
**/OHHTTPStubs filter=lfs diff=lfs merge=lfs -text
**/OptimizelySDKCore filter=lfs diff=lfs merge=lfs -text
**/OptimizelySDKDatafileManager filter=lfs diff=lfs merge=lfs -text
**/OptimizelySDKEventDispatcher filter=lfs diff=lfs merge=lfs -text
**/OptimizelySDKShared filter=lfs diff=lfs merge=lfs -text
**/OptimizelySDKUserProfileService filter=lfs diff=lfs merge=lfs -text
**/OptimizelySDKiOS filter=lfs diff=lfs merge=lfs -text
**/RMActionController filter=lfs diff=lfs merge=lfs -text
**/RMPickerViewController filter=lfs diff=lfs merge=lfs -text
**/SDWebImage filter=lfs diff=lfs merge=lfs -text
**/SVProgressHUD filter=lfs diff=lfs merge=lfs -text
**/Stripe filter=lfs diff=lfs merge=lfs -text
**/SwiftyJSON filter=lfs diff=lfs merge=lfs -text
**/SwipeCellKit filter=lfs diff=lfs merge=lfs -text
**/TPKeyboardAvoidingKit filter=lfs diff=lfs merge=lfs -text
**/UICKeyChainStore filter=lfs diff=lfs merge=lfs -text
